#header
{
	position:fixed;
	width:100%;
	top:0;
}


h1
{
	padding:10px;
	padding-left:30px;
	text-align:center;
	color:white;
	margin-top:0px;
	font-size:25px;
	font-family:"Lucida Console", Monaco, monospace;
}
div.menu
{
	height:75px;
}
div.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
	height:50px;
}

div.menu li {
	display: flex;
	align-items:center;
    float: left;
	height:0 auto;
}

div.menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
div.menu li a:hover {
    background-color: #333;
	height:50px;
}
body
{
	margin-top:0px;
	margin-left:0px;
	margin-bottom:0px;
	margin-right:0px;
	text-align:center;
	background-image:url("space.jpg");
	background-size:cover;
	background-attachment:fixed;
	
}

div.aboutMe
{
	background-color: #333;
	width:75%;
	height:100%;
	display:inline-block;
}

div.aboutMe p
{
	text-align:center;
	padding:30px;
	font-size:250px;
	color:white;
}

#content
{
	font-size:200px;
	background-color:pink;
}

#content p
{
	margin:0px;
padding:0px;
}
 

#footer 
{
	position:relative;
	bottom:0px;
	z-index:10;
	display: flex;
	align-items:center;
	background-color:grey;
	height:125px;
	width:100%;
}


#footer_contact
{
	font-weight:bold;
	font-size:20px;
}

#github_png
{
	padding:10px;
	width:75px;
	height:auto;
}

#facebook_png
{
	padding:10px;
	width:75px;
	height:auto;
}

#linkedin_png
{
	padding:10px;
	width:75px;
	height:auto;
}

table
{
	width:78%;
}