h1
{
	padding-top:20px;
	text-align:center;
	color:white;
	margin-top:0px;
	/*margin-bottom:200px;*/
	font-size:50px;
	font-family:"Lucida Console", Monaco, monospace;
}

body
{
	background-image:url("space.jpg");
	margin-top:0px;
	margin-left:0px;
	margin-bottom:0px;
	margin-right:0px
}

#head
{
	background-color:black;
	padding-top:0px;
	height:100px;
}
#footer
{
	display: flex;
	align-items:center;
	background-color:grey;
	height:100px;
}
#github_png
{
	padding:10px;
	margin:0;
	width:50px;
	height:auto;
}

#facebook_png
{
	padding:10px;
	width:50px;
	height:auto;
}

#linkedin_png
{
	padding:10px;
	width:50px;
	height:auto;
}